body {
    background-color: rgb(183, 255, 217);
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: red;
    margin-top: 0;
    text-align: center;
}

h2 {
    color: darkviolet;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

button {
    background-color: #ffffff;
    color: #007BFF;
    font-size: 3rem;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
/*
button:hover {
    background-color: #0056b3;
    color: #ffffff;
    font-size: 5rem;
    transition: 0.5s;
}*/
    